block section
    mixin section(paragraph, comment, description, text)                
        .section            
            b.section-paragraph= paragraph
            p.section-comment= comment
            p.section-description= description
            
            .section-position
                p= text