/* ___Fonts___ */

@font-face { 
	font-family: "PTsans55F"; 
	src: url(../fonts/PTC55F.ttf); 
}

@font-face { 
	font-family: "PTsans75F";
	src: url(../fonts/PTC75F.ttf); 
}

@font-face { 
	font-family: "PTsans57F";
	src: url(../fonts/PTN57F.ttf); 
}

@font-face { 
	font-family: "PTsans77F";
	src: url(../fonts/PTN77F.ttf); 
}

@font-face { 
	font-family: "PTsans55SF";
	src: url(../fonts/PTS55F.ttf); 
}

@font-face { 
	font-family: "PTsans75SF";
	src: url(../fonts/PTS75F.ttf); 
}

/**/

/*surname*/
.title_h1 {
	font-family: "PTsans55SF"; 	
	font-size: 82px; /*82*/
	letter-spacing: 1px;	
	text-transform: uppercase;
	text-align: center;
	margin-top: -8px;
}

/*name here*/
.title_h2 {
	font-family: "PTsans75SF"; 	
	font-size: 92px;
	letter-spacing: 4.8px;
	text-transform: uppercase;
	text-align: center;
	margin-top: -22px;	
}

/*graphic designer*/
.title_h3 { 
	font-family: "PTsans75SF"; 	
	font-size: 38px;	
	letter-spacing: 0.3px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 4px;	
	
}

/*profile, contact...*/
.title__chapper { 
	font-family: "PTsans75SF"; 	
	font-size: 60px; /*33*/
	letter-spacing: 2.8px;
	text-transform: uppercase;
	text-align: left;
	margin-top: 20px; 
	margin-left: 14px;
}

/*education -> universiti name. skills -> creative...*/
.description__chapper {
	;
}

/*small text*/
.text__chapper {
	;
}


/*contact -> address, e-mail, phone...*/
.paragraph__chapper {
	;
}

/*//Feb 2011-Jun 2014...*/
.comment__chapper {
	;
}


/* ___General___ */

body {	
  padding: 0;
  margin: 0;
  width: 100%;
}

html { 
	/*hide horizontall scroll*/
  overflow-x: hidden;
}

/**/

/*height header*/
@HeaderHeight: @ContentHeight / 2 + 80px;
@HeaderWidth: 40%;

/*height footer*/
@FooterHeight: @ContentHeight / 2 - 80px;
@FooterWidth: 40%;

/*height content*/
@ContentHeight: 2800px;
@ContentWidth: 59.7%;




/* ___Header___ */

header {
	border: 1px solid black;
	height: @HeaderHeight;
	width: @HeaderWidth;
	float: left;
}

.header__logo { 
	border :1px solid black;
	height: 357px;
	width: 360px;
	margin-top: 135px;
	margin-left: 245px;	
}

.header__titles {
	border :1px solid black;
	height: 240px;	
	min-width: 450px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.header__titles--text1 {
	border :1px solid black;
	height: 85px;
	width: 500px;
	margin-left: 175px;
}

.header__titles--text2 {
	border :1px solid black;
	height: 90px;
	width: 500px;
	margin-left: 175px;
}

.header__titles--text3 {
	border :1px solid black;
	height: 60px;
	width: 500px;
	margin-left: 175px;
}

.header__profile {
	border :1px solid black;
	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.header__profile--title {

}


/* ___Main Content___ */

main {
	border: 1px solid black;
	height: @ContentHeight;
	width: @ContentWidth;	
	float: right;
}


/* ___Footer___ */

footer {
	border: 1px solid black;
	height: @FooterHeight;
	width: @FooterWidth;
	float: left;
}