/* ___Fonts___ */

@font-face { 
	font-family: "PTsans55F"; 
	src: url(../fonts/PTC55F.ttf); 
}

@font-face { 
	font-family: "PTsans75F";
	src: url(../fonts/PTC75F.ttf); 
}

@font-face { 
	font-family: "PTsans57F";
	src: url(../fonts/PTN57F.ttf); 
}

@font-face { 
	font-family: "PTsans77F";
	src: url(../fonts/PTN77F.ttf); 
}

@font-face { 
	font-family: "PTsans55SF";
	src: url(../fonts/PTS55F.ttf); 
}

@font-face { 
	font-family: "PTsans75SF";
	src: url(../fonts/PTS75F.ttf); 
}

@font-face { 
	font-family: "LatoBold";
	src: url(../fonts/Lato/Lato-Bold.ttf); 
}

/**/

/* surname */
.title_h1 {
	font-family: "PTsans55SF"; 	
	font-size: 82px; /*82*/
	letter-spacing: 1px;	
	text-transform: uppercase;
	text-align: center;
	margin-top: -8px;
}

/* name here */
.title_h2 {
	font-family: "PTsans75SF"; 	
	font-size: 92px;
	letter-spacing: 4.8px;
	text-transform: uppercase;
	text-align: center;
	margin-top: -22px;	
}

/* graphic designer */
.title_h3 { 
	font-family: "PTsans75SF"; 	
	font-size: 38px;	
	letter-spacing: 0.3px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 4px;	
	
}

/* profile, contact... */
.title__chapter { 
	font-family: "PTsans75SF"; 	
	font-size: 60px;
	letter-spacing: 3.4px;
	text-transform: uppercase;
	text-align: left;
	margin-top: 20px; 
	margin-left: 14px;
	color: #056cb4;
}

/* skills -> creative..., education -> universiti name... */
.description__chapter {
	font-family: "PTsans55SF"; 	
	font-size: 38px;
	letter-spacing: -0.8x;
	text-transform: uppercase;
	text-align: left;
	margin-top: 20px; 
	margin-left: 14px;
}

/* small text */
.smallText__chapter {
	font-family: "PTsans55SF"; 	
	font-size: 24px;
	text-align: left;
	margin-top: 0px; 
	margin-left: 14px;
}

.text__chapter b {
	font-family: "LatoBold";
	font-size: 22px;
	text-align: left;	
	letter-spacing: 0.6px;
}

/* middle text */
.middleText__chapter {
	font-family: "PTsans55SF"; 	
	font-size: 28px;	
	margin-left: 2px;
	margin-top: 44px;
}

.middleText__chapter b {
	font-family: "PTsans77F"; 	
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 3.5px;	
}

.middleText__chapter span {
	letter-spacing: 1.1px;
}

/* education + experience -> titles */
.paragraph__chapter {	
	font-family: "PTsans77F"; 	
	text-transform: uppercase;
	font-size: 38px;
	letter-spacing: 4.7px;	
	color: #056cb4;
	float: left;
}

/* //Feb 2011-Jun 2014... */
.comment__chapter {
	width: 400px;	
	font-family: "PTsans57F"; 
	font-size: 38px;
	letter-spacing: 2.9px;

	margin: 0px 0 0 22px;
	float: left;
}


/* ___General___ */

body {	
  padding: 0;
  margin: 0;
  width: 100%;
}

html { 
  overflow-x: hidden;
}

/**/

/* borders */
.border__black {	
	border: 1px solid black; border-color: transparent;
}

.border__green {	
	border: 1px solid green; border-color: transparent;
}

.border__red {	
	border: 1px solid red; border-color: transparent;
}

/* header */
@HeaderHeight: @ContentHeight / 2 + 47px;
@HeaderWidth: 40%;
@HeaderMinWidth: 760px;

/* content / main */
@ContentHeight: 2800px;
@ContentWidth: 59.7%;

/* footer */
@FooterHeight: @ContentHeight / 2 - 47px;
@FooterWidth: 40%;
@FooterMinWidth: @HeaderMinWidth;

/* general chapter */
@chapterLogoHeight: 120px;
@chapterLogoWidth: 116px;

@chapterTitleHeight: 120px;
@chapterTitleWidth: auto;

@chapterHeight: 120px;
@chapterLineHeight: 120px;
@chapterLineMinWidth: 150px;

/* chapter profile */
@chapterProfileLineWidth: 268px;

/* chapter contact */
@chapterContactLineWidth: 246px;

/* chapter skills */
@chapterSkillsLineWidth: 324px;

/* chapter education */
@chapterEducationLineWidth: auto;

/* chapter experience */
@chapterExperienceLineWidth: auto;

/* chapter software */
@chapterSoftwareLineWidth: auto;

/**/

.chapter {
	.border__green;

	height: 120px;		
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;	
}

.chapter__logo {
	.border__red;

	height: @chapterLogoHeight;
	width: @chapterLogoWidth;	
	float: left;
	margin-left: 90px;
}

.chapter__title {
	.border__black;

	height: @chapterTitleHeight;
	width: @chapterTitleWidth;	
	float: left;
}


/* ___Header___ */

header {
	.border__black;

	height: @HeaderHeight;
	width: @HeaderWidth;
	min-width: @HeaderMinWidth;
	float: left;
}

.header__logo { 
	.border__black;

	height: 357px;
	width: 360px;
	margin-top: 135px;
	margin-left: 245px;	
}

.header__titles {
	.border__black;

	height: 240px;	
	min-width: 450px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.header__titles--text1 {
	.border__black;

	height: 85px;
	width: 500px;
	margin-left: 175px;
}

.header__titles--text2 {
	.border__black;

	height: 90px;
	width: 500px;
	margin-left: 175px;
}

.header__titles--text3 {
	.border__black;

	height: 60px;
	width: 500px;
	margin-left: 175px;
}

.header__profile {
	.border__black;

	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

/**/

.chapter__profile--line {
	.border__black;

	height: @chapterLineHeight;
	width: @chapterProfileLineWidth;	
	min-width: @chapterLineMinWidth;
	float: left;
}

.chapter__profile--line svg { 
	width: 265px; 
}

.chapter__profile--text {
	.border__black;

	height: auto;
	width: auto;
	float: left;
	margin: 0 0 0 90px;
	letter-spacing: -0.5px;
	line-height: 1.2;	;
}

.chapter__profile--text blockquote, .chapter__profile--text p {
	margin: 12px 13px 0px 1px;
	padding: 0px;
}


/* ___Main Content___ */

main {
	.border__black;

	height: @ContentHeight;
	width: @ContentWidth;	
	float: right;
}
/**/

.main__education {
	margin-top: 110px;
	margin-left: -7px;
	float: left;
	height: auto;
	width: auto;
}

.main__education > .chapter > .chapter__title p{
	margin: 16px 0 0 34px;
}

.chapter__education--line {
	.border__black;

	height: @chapterLineHeight;
	width: @chapterEducationLineWidth;
	min-width: @chapterLineMinWidth;
	float: left;
}

.chapter__education--line svg { 
	width: 494px; 
}

.chapter__education--text {
	.border__black;

	height: auto;
	width: auto;
	float: left;
	margin: 0 0 0 90px;
	letter-spacing: -0.5px;
	line-height: 1.2;
}

.chapter__education--text ul {
	.border__black;	
	
	padding-left: 18px;
}

.chapter__education--text ul li:before {
	content: '';
	display: inline-block;
	height:32px;
	width: 32px;
	vertical-align: middle;
	border-radius:50%;
	background-color:#000;
	margin: 10px 25px 0 0;
	float: left;
}

.chapter__education--text ul li {
	.border__black;

	padding-top: 16px;
	float: left;
	list-style-type: none;
	height: 195px;
}

.chapter__education--text b {	
	padding-left: 8px;
	float: left;
}

.chapter__education--text p:nth-child(3) {
	.border__red;
	
	float: left;
	padding-left: 48px;
	padding-top: 0px;
	margin-top: 6px;
}

.chapter__education--text ul li p:nth-child(4) {
	margin-top: -32px;
	width: 900px;
}

.chapter__education--text p:nth-child(4) {
	.border__green;

	float: left;
	padding-left: 50px;
	padding-top: 0px;
	margin-top: 0px;	
}

/**/

.main__experience {
	margin-top: 65px;
	margin-left: -7px;
	float: left;
	width: auto;
}

.main__experience > .chapter > .chapter__title p {
	margin: 22px 0 0 30px;
	letter-spacing: 2.4px;
}

.chapter__experience--line {
	.border__black;

	height: @chapterLineHeight;
	width: @chapterExperienceLineWidth;
	min-width: @chapterLineMinWidth;
	float: left;
}

.chapter__experience--line svg { 
	width: 484px; 
}

.chapter__experience--text {
	.border__black;

	height: auto;
	width: auto;
	float: left;
	margin: 0 0 0 90px;
	letter-spacing: -0.5px;
	line-height: 1.2;
}

.chapter__experience--text ul {
	.border__black;	
	
	padding-left: 18px;
}

.chapter__experience--text ul li:before {
	content: '';
	display: inline-block;
	height:32px;
	width: 32px;
	vertical-align: middle;
	border-radius:50%;
	background-color:#000;
	margin: 10px 25px 0 0;
	float: left;
}

.chapter__experience--text ul li:nth-child(1) {
	.border__black;

	padding-top: 44px;
	float: left;
	list-style-type: none;
	height: 195px;
}

.chapter__experience--text ul li {
	.border__black;

	padding-top: 14px;
	float: left;
	list-style-type: none;
	height: 195px;
}

.chapter__experience--text b {
	padding-left: 8px;
	float: left;
}

.chapter__experience--text p:nth-child(3) {
	.border__red;
	
	float: left;
	padding-left: 48px;
	padding-top: 0px;
	margin-top: 6px;
}

.chapter__experience--text ul li p:nth-child(4) {
	margin-top: -32px;
	width: 900px;
}

.chapter__experience--text p:nth-child(4) {
	.border__green;

	float: left;
	padding-left: 50px;
	padding-top: 0px;
	margin-top: 0px;	
}

.chapter__experience--text > ul > li > .paragraph__chapter {
	letter-spacing: 5.7px;
}

.chapter__experience--text > ul > li > .comment__chapter {
	margin-left: 18px;
}

.chapter__experience--text > ul > li > .description__chapter {
	letter-spacing: 0.1px;	
}

/**/

.main__software {
	margin-top: 72px;
	margin-left: -7px;
	float: left;
	width: auto;
}

.main__software > .chapter > .chapter__title p {
	margin: 22px 0 0 30px;
	letter-spacing: 3.8px;
}

.chapter__software--line {
	.border__black;

	height: @chapterLineHeight;
	width: @chapterSoftwareLineWidth;
	min-width: @chapterLineMinWidth;
	float: left;
}

.chapter__software--line svg { 
	width: 510px; 
}

.chapter__software--text {
	.border__black;

	height: 410px;
	width: auto;
	float: left;
	margin: 0 0 0 90px;
	letter-spacing: -0.5px;
	line-height: 1.2;
}

.software__left--bars {
	float: left;
}

.software__right--bars {
	float: right;
	margin-left: 94px;
}

.chapter__software--text p {
	margin: 35px 0  0 13px;
	letter-spacing: 0.5px;
}

.software__left--bars p:nth-child(3) {	
	letter-spacing: -0.4px;
}

.software__left--bars p:nth-child(5) {	
	margin-top: 33px;
	letter-spacing: 0.2px;
}

.software__right--bars p:nth-child(1) {	
	margin-top: 33px;
	letter-spacing: 0.8px;
}

.software__right--bars p:nth-child(3) {	
	margin: 36px 0 0 17px;
	letter-spacing: -0.6px;
}

.software__right--bars p:nth-child(5) {	
	margin: 32px 0 0 16px;
	letter-spacing: -1.2px;
}

.software__progress {
    background-color: #f3f3f3;
    border: 0;
    width: 430px;
    height: 34px;
    margin: 21px 0 0 13px;
}

.software__left--bars progress:nth-child(4),
	.software__right--bars progress:nth-child(4) {
		margin-top: 20px;
}

.software__left--bars progress:nth-child(6),
	.software__right--bars progress:nth-child(6) {
	margin-top: 16px;
}


/* ___Footer___ */

footer {
	.border__black;

	height: @FooterHeight;
	width: @FooterWidth;
	min-width: @FooterMinWidth;
	float: left;
}

.footer__contact {	
	.border__black;

	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	clear: both;
}

.chapter__contact--line {
	.border__black;

	height: @chapterLineHeight;
	width: @chapterContactLineWidth;
	min-width: @chapterLineMinWidth;
	float: left;
}

.chapter__contact--line svg { 
	width: 318px; 
}

.chapter__contact--text {
	.border__black;

	height: auto;
	width: auto;
	float: left;
	margin: 0 0 0 90px;
	letter-spacing: -0.5px;
	line-height: 1.2;
}

.chapter__contact--text table {	
	margin-top: 20px;		
	border-collapse: collapse;	
}

.chapter__contact--text table tr, td {
	margin-top: 30px;	
	height: 82px;	
	width: 194px;
	min-width: 194px;
}

/**/

.footer__skills {	

	margin-top: 400px;
	margin-left: auto;
	margin-right: auto;	
	width: auto;
	height: auto;
	clear: both;	
}

.footer__skills .chapter__title p {
	letter-spacing: 1.1px;
}

.chapter__skills--line {
	.border__black;	

	height: @chapterLineHeight;
	width: @chapterSkillsLineWidth;
	min-width: @chapterLineMinWidth;	
	float: left;
}

.chapter__skills--line svg { 
	width: 318px; 
}

.chapter__skills--text {
	.border__red;

	width: auto;
}

.chapter__skills--text li:first-child  {
	margin-top: 10px;
}

.chapter__skills--text li {
	.border__green;

	list-style-type: none;	
	height: 115px;
}

.chapter__skills--text li p {		
	text-align: center;
	margin: 15px 0 0 30px;
	letter-spacing: 1.1px;
}

.skills__point:first-of-type {
	margin-left: 118px;
}

.skills__point--template, .skills__point {
	float: left;
	margin: 10px 12px 0 0;
}


/* ___Responsive design___ */

@media screen and (max-width: 1895px) {	
/*all block's*/
	header, main, footer { float: none; margin: 0 auto 0 auto; }
	header { height: @HeaderHeight - 50px; }
	main { height: @ContentHeight + 940px; width: 760px; }

	.main__education, 
		.main__experience, 
			.main__software { 
				margin-top: 100px; 
	}

	footer { height: @FooterHeight + 70px; clear: both; }
	.footer__contact { margin-top: 100px; }
	.footer__skills { margin-top: 458px; }

/*general*/	
	.chapter__logo { margin-left: auto; margin-right: auto; }
	.smallText__chapter { text-align: justify; }	
	.chapter { display: block; }
	.chapter__logo { margin-left: 0px; }
	

/*header*/
	.header__logo, 
		.header__titles--text1, 
			.header__titles--text2, 
				.header__titles--text3 { 
					margin-left:auto; margin-right: auto; 
	}

/*profile*/
	.chapter__profile--line { width: auto; }
	.chapter__profile--line svg { width: 370px; }

/*education*/
	.main__education { width: 760px; margin-left: 0px;}		
	.chapter__education--line { width: auto; }
	.chapter__education--line svg { width: 262px; }
	.chapter__education--text { width: 670px; }
	.chapter__education--text ul li { height: auto; }

	.comment__chapter, 
		.description__chapter { 
		clear: both; 
	}

	.chapter__education--text ul > li { width: 650px; }
	
	.chapter__education--text ul > li > p:nth-child(4) { 
		width: 570px; clear: both; margin-bottom: 0px; 
	}

/*experience*/					
	.main__experience { width: 760px; margin-left: 0px; }
	.chapter__experience--line { width: auto; }
	.chapter__experience--line svg { width: 250px; }
	.chapter__experience--text { width: 670px; }
	.chapter__experience--text ul li:first-child { height: auto; }	
	.chapter__experience--text ul li { height: auto; }

	.comment__chapter, 
		.description__chapter { 
			clear: both; 
	}

	.chapter__experience--text ul > li { width: 650px; }
	.chapter__experience--text ul > li > p:nth-child(4) { 
		width: 570px; clear: both; margin-bottom: 0px; }

/*software*/
	.main__software { width: 760px; margin-left: 0px; }
	.chapter__software--line { width: auto; }
	.chapter__software--line svg { width: 280px; }
	.chapter__software--text { height: auto; }

	.software__left--bars, 
		.software__right--bars { 
			float: none; margin-left: auto; margin-right: auto;
	}

/*contact*/	
	.footer__contact { width: 760px; margin-left: 0px; }
	.chapter__contact--line { width: auto; }
	.chapter__contact--line svg { width: 350px; }
	.chapter__contact--text table { float: none; margin-left: auto; margin-right: auto; }

/*skills*/
	.chapter__skills--line { width: auto; }
	.chapter__skills--line svg { width: 428px; }

	.chapter__skills--text ul li { 
		margin: 0px; 
		float: none; 
		width: 614px; 
		padding: 0px; 
		margin-left: auto; 
		margin-right: auto; 
	}

	.chapter__skills--text 
		.description__chapter { 
			width: 300px; margin-left: auto; margin-right: auto; 
	}

	.points__bar { height: 50px; width: 520px; margin-left: auto; margin-right: auto; }
	.skills__point:first-of-type { margin-left: 8px; }
}