.bar__point:first-of-type {
	margin-left: 36px;
}

.bar__point svg, .bar__point-empty svg {
	width: 30px;
	height: 30px;
}

.bar__point-empty, .bar__point {
	float: left;
	margin: 10px 13px 0 0;
}

.bar__point:last-child,
.bar__point-empty:last-child {
	margin-right: 0px;
}