section.about
    .about-logo
        svg(width='465px', height='465px')
            circle(r='178', cx='180', cy='38.7%', fill='none', stroke='#056cb4', stroke-width='2')
            circle(r='156', cx='180', cy='38.7%', fill='#056cb4')

    .about-title
        .about-title__name
            h1 Constantine Of Constantinople
        .about-title__surname
            h2 surname
        .about-title__profession
            h3 graphic designer

//- include ../profile/profile