section.about
    .about__logo
        svg(width='360px', height='360px')
            circle(r='178', cx='180', cy='50.3%', fill='none', stroke='#056cb4', stroke-width='2')
            circle(r='156', cx='180', cy='50.3%', fill='#056cb4')

    .about__title
        .about__title_name
            h1.about__title_target-font_name Constantine Of Constantinople
        .about__title_surname
            h2.about__title_target-font_surname surname
        .about__title_profession
            h3.about__title_target-font_proffesion graphic designer

//- include ../profile/profile