mixin aboutList(parameter)
  -var parameter = parameter || {}
  -var name = parameter.name || 'Constantine Of Constantinople'
  -var surname = parameter.surname || 'surname'
  -var profession = parameter.profession || 'graphic designer'  

  //- 

  section.about
    .about__logo
      svg(width='360px', height='360px')
        circle(r='178', cx='180', cy='50.3%', 
              fill='none', stroke='#056cb4', stroke-width='2')
              
        circle(r='156', cx='180', cy='50.3%', fill='#056cb4')

    .about__list
      .about__name
        h1.about__name-title= name
      .about__surname
        h2.about__surname-title= surname
      .about__profession
        h3.about__profession-title= profession