// ___borders___

@mixin border-black
	border: 1px solid black

@mixin border-green
	border: 1px solid green

@mixin border-red
	border: 1px solid red

// ---

@mixin wrapping
	white-space: nowrap // Отменяем перенос текста
	overflow: hidden // Обрезаем содержимое
	text-overflow: ellipsis // Многоточие

// ---

$aboutMinWidth: 760px
$nameWidth: 500px
$surnameWidth: 500px
$professionWidth: 500px

// ---

.about
	@include border-black	
	height: auto
	width: 40%
	min-width: $aboutMinWidth
	float: left

	&__logo
		@include border-black
		height: auto
		width: 360px
		margin-top: 129px
		margin-left: 245px

	&__title
		@include border-red
		height: auto
		min-width: 450px
		margin-left: auto
		margin-right: auto
		margin-top: 40px
		margin-bottom: 105px
	
		// name here
		&_name
			@include border-black
			height: auto
			width: $nameWidth
			margin-left: 175px

		&_target-font_name
			font-family: "PTsans55SF"
			font-size: 82px
			letter-spacing: 1px
			line-height: 1em
			text-transform: uppercase
			text-align: center			
			margin-top: 0px //-10
			margin-bottom: 0px //-10
			height: auto
			@include wrapping

		// surname	
		&_surname
			@include border-black
			height: auto
			width: $surnameWidth
			margin-left: 175px

		&_target-font_surname
			font-family: "PTsans75SF"
			font-size: 92px
			letter-spacing: 4.2px
			line-height: 0.8em
			text-transform: uppercase
			text-align: center			
			padding: 0
			margin: 0
			@include wrapping

		// profession / graphic designer
		&_profession
			@include border-black
			height: auto
			width: $professionWidth
			margin-left: 175px

		&_target-font_proffesion
			font-family: "PTsans75SF"
			font-size: 38px
			letter-spacing: 0.1px			
			text-transform: uppercase
			text-align: center
			margin: 20px auto 0 auto
			padding: 0