//- head including
extends common.blocks/head/head


//- ___Mixin's:___

//- chapter including
include common.blocks/chapter/chapter

//- points for footer -> skills block
include common.blocks/points/points