//- head including
extends common.blocks/head/head

//- chapter including
include common.blocks/chapter/chapter

//- points for footer -> skills block
include common.blocks/points/points



//- include layout/header/header-logo/header-logo
//- include layout/header/header-title/header-title