//- head including
extends src/blocks/common.blocks/head/head


//- ___Mixin's:___

//- chapter including
include src/blocks/common.blocks/chapter/chapter

//- points for footer -> skills block
include src/blocks/common.blocks/points/points

//- content for education & Experience
include src/blocks/common.blocks/section/section