section.contact
    +chapter('contact', 5)
    
    .contact__text
        table
            tbody
                tr
                    td
                        b.contact__text_title Address
                    td
                        span Main Street, City.

                tr
                    td
                        b.contact__text_title E-Mail
                    td
                        span
                            a(href='mailto: contact@domain.com') contact@domain.com
                            | .

                tr
                    td
                        b.contact__text_title Phone
                    td
                        span
                            a(href='tel: +74951234567') 555-555-555
                            | .

                tr
                    td
                        b.contact__text_title Website
                    td
                        span
                            a(href='www.yourweb.com', target='_blank', 
                                rel='noopener noreferrer') www.yourweb.com
                            | .