section.contact
  +chapter('contact', 5)
  
  .contact__block
    table.contact__block_target-table          
      tr.contact__block_target-table_tr
        td.contact__block_target-table_td
          span.contact__block_target-text_title Address
        td.contact__block_target-table_td
          span.contact__block_target-text_content Main Street, City.

      tr.contact__block_target-table_tr
        td.contact__block_target-table_td
          span.contact__block_target-text_title E-Mail
        td.contact__block_target-table_td                   
          a.contact__block_target-text_link.contact__block_target-text_link-mail(href='mailto: contact@domain.com') contact@domain.com
            | .

      tr.contact__block_target-table_tr
        td.contact__block_target-table_td
          span.contact__block_target-text_title Phone
        td.contact__block_target-table_td
          a.contact__block_target-text_link.contact__block_target-text_link-phone(href='tel: +74951234567') 555-555-555
            | .

      tr.contact__block_target-table_tr
        td.contact__block_target-table_td
          span.contact__block_target-text_title Website
        td.contact__block_target-table_td
          a.contact__block_target-text_link.contact__block_target-text_link-site(href='www.yourweb.com', target='_blank', 
            rel='noopener noreferrer') www.yourweb.com
              | .