/* ___borders___ */

.border__black {	
	border: 1px solid black; /* border-color: transparent; */
}

.border__red {	
	border: 1px solid red; /* border-color: transparent; */
}

/**/

.profile {
	.border__black;

	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	/* margin-top: 108px; */
	float: left;
}

.profile__text {
	.border__black;	

	height: auto;
	width: auto;
	float: left;
	margin: 0 0 0 90px;
	letter-spacing: -0.5px;
	line-height: 1.2;	;
}

.profile__text blockquote, .profile__text p {
	margin: 12px 13px 0px 1px;
	padding: 0px;
}

.profile__text blockquote {
	font-family: "PTsans55SF"; 	
	font-size: 24px;
	text-align: left;	
}