// ___borders___

@mixin border-black
	border: 1px solid black

@mixin border-green
	border: 1px solid green

@mixin border-red
	border: 1px solid red

@mixin wrapping
	white-space: nowrap 		// Отменяем перенос текста
	overflow: hidden 				// Обрезаем содержимое
	text-overflow: ellipsis // Многоточие

// ---

.section
	font-size: 2.4rem
	text-align: left

	&__paragraph
		width: 31.5rem
		font-family: "PTsans77F" 	
		text-transform: uppercase
		font-size: 3.8rem
		letter-spacing: .47rem
		color: #056cb4
		float: left		
		@include wrapping

	&__comment
		@include border-green
		width: 40rem
		font-family: "PTsans57F"
		font-size: 3.8rem
		letter-spacing: .3rem
		float: left
		margin-top: .1rem

	&__description
		font-size: 3.8rem
		letter-spacing: -0.01rem
		text-transform: uppercase
		text-align: left

	&__position
		@include border-green
		float: left
		margin: 0 0 0 1.4rem
		padding: 0px
		width: auto

	&__text
		padding-left: 4.8rem
		padding-top: 0.25rem
		margin: 0 5.4rem 0 0
		float: left
		height: auto

/**/
	
@import section-additional