// ___borders___

@mixin border-black
	border: 1px solid black

@mixin border-green
	border: 1px solid green

@mixin border-red
	border: 1px solid red

/* ___additional styles___ */

.section
	&__paragraph_education
		padding-left: 8px
		float: left
		font-weight: 700

	&__paragraph_experience
		padding-left: 6px
		letter-spacing: 5.6px
		float: left
		font-weight: 700

		// ---

	&__comment_education
		margin: 0px 0 0 0px

	&__comment_experience
		margin: 0px 0 0 0px

	// ---

	&__description_education,
	&__description_experience
		@include border-red
		padding-left: 46px
		padding-top: 0px
		margin-top: 6px
		margin-left: 14px
		margin-bottom: 4px
		float: left
		clear: both