@import ../../templates

/* ___additional styles___ */

.section
	&__paragraph
		&-education
			padding-left: .8rem
			padding-top: .5rem
			float: left
			font-weight: 700

		&-experience
			padding-left: .6rem
			padding-top: .2rem
			letter-spacing: .56rem
			float: left
			font-weight: 700

	// ---

	&__comment
		&-education
			margin: 0 0 0 0					

		&-experience
			margin: 0 0 0 0

		@media screen and (max-width: 890px)
			margin-left: 1.5em

	// ---

	&__description
		&-education,
		&-experience
			@include border-red
			padding-left: 4.6rem
			padding-top: 0rem
			margin-top: .6rem
			margin-left: 1.4rem
			margin-bottom: .4rem
			float: left
			clear: both