doctype html
html(lang="ru-RU")
	head
		//- include ../../modules/seo-words
		include ../seo/seo-words
		
		//- SEO: keywords, description, title
		+seo-words__header('Full Stack Development, FSD, quest-1',
							'Best of the Best company on the world for Web dev!',
							'maket - 1')
		
		
		//- CSS's		

		//- general		
		link(rel='stylesheet/less', href='__css/styles.css')

		link(rel='stylesheet/less', href='src/blocks/common.blocks/chapter/chapter.css')
		link(rel='stylesheet/less', href='src/blocks/common.blocks/points/points.css')
		
		link(rel='stylesheet/less', href='src/blocks/header.blocks/logo/logo.css')
		link(rel='stylesheet/less', href='src/blocks/header.blocks/title/title.css')
		link(rel='stylesheet/less', href='src/blocks/header.blocks/profile/profile.css')

		link(rel='stylesheet/less', href='src/blocks/main.blocks/education/education.css')
		link(rel='stylesheet/less', href='src/blocks/main.blocks/experience/experience.css')
		link(rel='stylesheet/less', href='src/blocks/main.blocks/software/software.css')

		link(rel='stylesheet/less', href='src/blocks/footer.blocks/contact/contact.css')
		link(rel='stylesheet/less', href='src/blocks/footer.blocks/skills/skills.css')

		script(src='__lib/less.min.js')

	body
		//- header include
		include ../../header.blocks/logo/logo

		//- main include
		include ../../main.blocks/education/education

		//- footer include
		include ../../footer.blocks/contact/contact