/* ___additional styles___ */

.chapter__logo
	&_education,
	&_experience,
	&_software
		margin-left: 83px

/**/

.chapter__title_target-font
	&_profile
		letter-spacing: 2.8px
		margin: 20px 0 0 14px

	&_education
		margin: 18px 0 0 28px
		letter-spacing: 4.6px

	&_experience
		margin: 21px 0 0 28px
		letter-spacing: 2.6px

	&_software
		margin: 20px 0 0 28px
		letter-spacing: 3.8px

	&_contact
		margin: 20px 0 0 14px
		letter-spacing: 4.6px

	&_skills
		margin: 22px 0 0 10px
		letter-spacing: 2px