/* ___additional styles___ */

.chapter__logo_education {
	margin-left: -7px;
}

.chapter__logo_experience {
	margin-left: -7px;
}

.chapter__logo_software {
	margin-left: -7px;
}

/**/

.chapter__title_profile {
	letter-spacing: 2.8px;
	margin: 20px 0 0 14px;	
}

.chapter__title_education {
	margin: 18px 0 0 24px;
	letter-spacing: 4.6px;
}

.chapter__title_experience {
	margin: 21px 0 0 24px;
	letter-spacing: 2.6px;
}

.chapter__title_software {
	margin: 20px 0 0 24px;
	letter-spacing: 3.8px;
}

.chapter__title_contact {
	margin: 20px 0 0 14px;
	letter-spacing: 4.6px;
}

.chapter__title_skills {
	margin: 22px 0 0 10px;
	letter-spacing: 2px;
}