/* ___additional styles___ */

.chapter__logo
	&_education,
	&_experience,
	&_software
		margin-left: 8.3rem

/**/

.chapter__title_target-font
	&_profile
		letter-spacing: .28rem
		margin: 2rem 0 0 1.4rem

	&_education
		margin: 1.8rem 0 0 2.8rem
		letter-spacing: .46rem

	&_experience
		margin: 2.1rem 0 0 2.8rem
		letter-spacing: .26rem

	&_software
		margin: 2rem 0 0 2.8rem
		letter-spacing: .38rem

	&_contact
		margin: 2rem 0 0 1.4rem
		letter-spacing: .46rem

	&_skills
		margin: 2.2rem 0 0 1rem
		letter-spacing: .2rem