/* ___borders___ */

.border__black {	
	border: 1px solid black; /* border-color: transparent; */
}

.border__green {	
	border: 1px solid green; /* border-color: transparent; */
}

.border__red {	
	border: 1px solid red; /* border-color: transparent; */
}


/* ___less___ */

@chapterLogoHeight: 120px;
@chapterLogoWidth: 116px;

@chapterTitleHeight: 120px;
@chapterTitleWidth: auto;

@chapterLineMinWidth: 50px;


/**/

.chapter {
	.border__green;

	height: 120px;		
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;	
}

.chapter-logo {
	.border__red;

	height: @chapterLogoHeight;
	width: @chapterLogoWidth;	
	float: left;
	margin-left: 90px;
}

.chapter-title {
	.border__black;

	height: @chapterTitleHeight;
	width: @chapterTitleWidth;	
	float: left;
}

.chapter-title p {
	font-family: "PTsans75SF"; 	
	font-size: 60px;	
	text-transform: uppercase;
	text-align: left;		
	color: #056cb4;

	/* for general setting's: */
	/* letter-spacing: 3.4px; */
	/* margin-top: 20px;  */
	/* margin-left: 14px; */
}

.chapter-side {
	.border__black;

	height: auto;
	width: 100%;	
	min-width: @chapterLineMinWidth;
	float: left;
	margin-right: 20px;
}

.chapter-side__line {
	background: #056CB4;
	width: auto;
	height: 8px;
	margin: 56px 4px 0 4px;
}