doctype html
html(lang="ru-RU")
	head
		//- SEO
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='Keywords', content='Full Stack Development, FSD, quest-1')
		meta(name='description', content='Best of the Best company on the world for Web dev!')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, \
		maximum-scale=1.0, user-scalable=no')
		link(rel='shortcut icon', type='image/x-icon', href='src/images/favicon.png')
		title  maket-1 
		
		
		//- CSS's		

		//- general
		link(rel='stylesheet/less', href='src/styles.css')

		//- general block's / mixin's
		link(rel='stylesheet/less', href='src/blocks/content/content.css')
		link(rel='stylesheet/less', href='src/blocks/chapter/chapter.css')
		//- link(rel='stylesheet/less', href='src/blocks/chapter/chapter-additional.css')
		link(rel='stylesheet/less', href='src/blocks/points/points.css')
		link(rel='stylesheet/less', href='src/blocks/section/section.css')
		link(rel='stylesheet/less', href='src/blocks/section/section-additional.css')
		
		//- header
		link(rel='stylesheet/less', href='src/blocks/about/about.css')
		link(rel='stylesheet/less', href='src/blocks/profile/profile.css')

		//- main
		link(rel='stylesheet/less', href='src/blocks/education/education.css')
		link(rel='stylesheet/less', href='src/blocks/experience/experience.css')
		link(rel='stylesheet/less', href='src/blocks/software/software.css')

		//- footer
		link(rel='stylesheet/less', href='src/blocks/contact/contact.css')
		link(rel='stylesheet/less', href='src/blocks/skills/skills.css')

		//- including the LESS lib
		script(src='lib/less.min.js')

	include ../content/content