footer
  .footer-contact
    +chapter(5)
    
    .footer-contact__text
        table
            tbody
                tr
                    td
                        b Address
                    td
                        span Main Street, City.

                tr
                    td
                        b E-Mail
                    td
                        span
                            a(href='mailto: contact@domain.com') contact@domain.com
                            | .

                tr
                    td
                        b Phone
                    td
                        span
                            a(href='tel: +74951234567') 555-555-555
                            | .

                tr
                    td
                        b Website
                    td
                        span
                            a(href='www.yourweb.com', target='_blank', 
                                rel='noopener noreferrer') www.yourweb.com
                            | .

    include ../skills/skills