/* ___borders___ */

.border__black {	
	border: 1px solid black; /* border-color: transparent; */
}

.border__green {	
	border: 1px solid green; /* border-color: transparent; */
}

.border__red {	
	border: 1px solid red; /* border-color: transparent; */
}


/**/

.wrapping {
	white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */    
    text-overflow: ellipsis; /* Многоточие */
}


/**/

.experience {
	margin-top: 64px;
	/* margin-left: -7px; */
	float: left;
	width: auto;
	margin-bottom: 70px;
}

/* !!! */
.experience > .chapter > .chapter__title p {
	margin: 22px 0 0 30px;
	letter-spacing: 2.4px;
}

.experience-text {
	.border__red;

	height: auto;
	width: auto;
	float: left;
	margin: 0 0 0 90px;
	letter-spacing: -0.4px;
	line-height: 1.2;
}

.experience-text ul {
	padding-left: 18px;
	margin-top: 49px;
}

.experience-text ul li:before {
	content: '';
	display: inline-block;
	height:32px;
	width: 32px;
	vertical-align: middle;
	border-radius:50%;
	background-color:#000;
	margin: 9px 25px 0 0;
	float: left;
}

.experience ul li {
	.border__black;

	padding-top: 10px;	
	margin-bottom: 4px;
	float: left;
	list-style-type: none;
	height: auto;
}


.experience ul li:nth-child(1) {
	margin-bottom: 3px;
}

.experience ul li:nth-child(2) {
	margin-bottom: 8px;
}

.experience-text p:nth-child(3) {
	.border__red;
	
	float: left;
	padding-left: 48px;
	padding-top: 0px;
	margin-top: 6px;
}

.experience-text p:nth-child(4) {
	.border__green;

	float: left;
	padding-left: 50px;
	padding-top: 0px;
	margin-top: 0px;	
}

.experience-text > ul > li > .text__paragraph {
	letter-spacing: 5.7px;
}


/**/
/* !!! */
.text {
	font-family: "PTsans55SF"; 	
	font-size: 24px;
	text-align: left;	
}