/* ___additional styles___ */

.chapter-title__profile {
	letter-spacing: 2.8px;
	margin: 20px 0 0 14px;	
}

.chapter-title__education {
	margin: 18px 0 0 28px;
	letter-spacing: 4.6px;
}

.chapter-title__experience {
	margin: 20px 0 0 28px;
	letter-spacing: 2.8px;
}

.chapter-title__software {
	margin: 20px 0 0 28px;
	letter-spacing: 3.8px;
}

.chapter-title__contact {
	margin: 20px 0 0 14px;
	letter-spacing: 4.6px;
}

.chapter-title__skills {
	margin: 22px 0 0 10px;
	letter-spacing: 2px;
}