.bar-point:first-of-type {
	margin-left: 36px;
}

.bar-point svg, .bar-point__empty svg {
	width: 30px;
	height: 30px;
}

.bar-point__empty, .bar-point {
	float: left;
	margin: 10px 13px 0 0;
}

.bar-point:last-child,
.bar-point__empty:last-child {
	margin-right: 0px;
}