block skills
  mixin points(fillPoints)
    //- protection against the fool
    if (fillPoints > 12)
      - fillPoints= 12

    - var empty = 12 - fillPoints            

    //- active skills points
    - for (var i = 0; i < fillPoints; i++)
      .bar__point
        svg.bar__point_target-size
          circle(r='13.5', cx='15', cy='15', fill='#056cb4')                

    //- empty skills points
    - for (var i = 0; i < empty; i++)
      .bar__point_empty
        svg.bar__point_target-size
          circle(r='13.5', cx='15', cy='15', fill='#E8E8E8')