.main-experience
    +chapter(3)

    .main-experience__text.text
        ul
            li                
                b.chapter__text-paragraph  Constantine Of Constantinople 
                p.chapter__text-comment  // Feb 2011 - Jun 2014 
                p.chapter__text-description  Constantine Of Constantinople 
                .chapter__text-pos
                    p
                        | Lorem ipsum dolors sit amet, consectetuer adipiscing
                        | elit. Aenean commodo ligula eget dolor. Aenean massa.
                        | Cum sociis natoque penatibus et magnis dis parturient
                        | montes, nascetur ridiculus mus. Donec quam felis,
                        | ultricies nec, pellentesque.

            li
                b.chapter__text-paragraph  Company name 
                p.chapter__text-comment  // Feb 2011 - Jun 2014 
                p.chapter__text-description  Your job here 
                .chapter__text-pos
                    p
                        | Lorem ipsum dolors sit amet, consectetuer adipiscing
                        | elit. Aenean commodo ligula eget dolor. Aenean massa.
                        | Cum sociis natoque penatibus et magnis dis parturient
                        | montes, nascetur ridiculus mus. Donec quam felis,
                        | ultricies nec, pellentesque.
            li
                b.chapter__text-paragraph  Company name 
                p.chapter__text-comment  // Feb 2011 - Jun 2014 
                p.chapter__text-description  Your job here 
                .chapter__text-pos
                    p
                        | Lorem ipsum dolors sit amet, consectetuer adipiscing
                        | elit. Aenean commodo ligula eget dolor. Aenean massa.
                        | Cum sociis natoque penatibus et magnis dis parturient
                        | montes, nascetur ridiculus mus. Donec quam felis,
                        | ultricies nec, pellentesque.                        

include ../software/software