/* ___borders___ */

.border__black {	
	border: 1px solid black; /* border-color: transparent; */
}


/**/

.header-logo { 
	.border__black;

	height: 357px;
	width: 360px;
	margin-top: 135px;
	margin-left: 245px;	
}