block footerSkills

.footer-skills
    +chapter(6)
    
    .footer-skills__text
        ul
            li
                +skillsPoint('creative', '9')

            li
                +skillsPoint('teamwork', '9')

            li
                +skillsPoint('innovate', '9')

            li
                +skillsPoint('communication', '9')