block footerSkills

.footer-skills
    +chapter(6)
    
    .footer-skills__text
        ul
            li
                +skillsPoint('creative', '1')

            li
                +skillsPoint('teamwork', '11')

            li
                +skillsPoint('innovate', '6')

            li
                +skillsPoint('communication', '18')