block skills

.footer-skills
    +chapter(6)
    
    .footer-skills__text
        ul
            li
                p creative        
                .footer-skills__bar.skills-bar
                    +points('4')

            li
                p teamwork        
                .footer-skills__bar.skills-bar
                    +points('11')

            li
                p innovate        
                .footer-skills__bar.skills-bar
                    +points('8')

            li
                p communication        
                .footer-skills__bar.skills-bar
                    +points('18')