block skills

.footer-skills
    +chapter(6)
    
    .footer-skills__text
        ul
            li
                +points('creative', '4')

            li
                +points('teamwork', '11')

            li
                +points('innovate', '8')

            li
                +points('communication', '18')