/* ___borders___ */

.border__black {	
	border: 1px solid black; /* border-color: transparent; */
}

.border__green {	
	border: 1px solid green; /* border-color: transparent; */
}

.border__red {	
	border: 1px solid red; /* border-color: transparent; */
}


/**/

.skills {	

	/* margin-top: 400px; */
	float: left;
	/* margin-left: auto; */
	/* margin-right: auto;	 */
	margin-top: 40px;
	width: 100%;
	height: 830px;
	/* clear: both;	 */
}

.skills__bar {
	.border__red;
	width: 550px;	
	height: 50px;
	margin: 0 auto 0 auto;
}

/* !!! */
.skills .chapter__title p {
	/* letter-spacing: 1.1px; */
}

.skills__text {
	.border__red;

	width: auto;
}

.skills__text p {
	font-family: "PTsans55SF"; 	
	font-size: 38px;
	letter-spacing: -0.1px;
	text-transform: uppercase;
	text-align: left;
	margin-top: 20px; 
	margin-left: 14px;
}

.skills__text li:first-child  {
	margin-top: 10px;
}

.skills__text li {
	.border__green;

	list-style-type: none;	
	height: 115px;
}

.skills__text li p {		
	text-align: center;
	margin: 15px 0 0 30px;
	letter-spacing: 1.1px;
}