/* ___borders___ */

.border__black {	
	border: 1px solid black; /* border-color: transparent; */
}

.border__green {	
	border: 1px solid green; /* border-color: transparent; */
}

.border__red {	
	border: 1px solid red; /* border-color: transparent; */
}


/**/

.skills {	

	margin-top: 400px;
	margin-left: auto;
	margin-right: auto;	
	width: auto;
	height: auto;
	clear: both;	
}

/* !!! */
.skills .chapter__title p {
	letter-spacing: 1.1px;
}

.skills-text {
	.border__red;

	width: auto;
}

.skills-text p {
	font-family: "PTsans55SF"; 	
	font-size: 38px;
	letter-spacing: -0.1px;
	text-transform: uppercase;
	text-align: left;
	margin-top: 20px; 
	margin-left: 14px;
}

.skills-text li:first-child  {
	margin-top: 10px;
}

.skills-text li {
	.border__green;

	list-style-type: none;	
	height: 115px;
}

.skills-text li p {		
	text-align: center;
	margin: 15px 0 0 30px;
	letter-spacing: 1.1px;
}