block skills

.skills
    +chapter('skills', 6)
    
    .skills-text
        ul
            li
                p creative        
                .skills-bar
                    +points('4')

            li
                p teamwork        
                .skills-bar
                    +points('11')

            li
                p innovate        
                .skills-bar
                    +points('8')

            li
                p communication        
                .skills-bar
                    +points('18')