mixin skillsList
  section.skills
    +chapter('skills', 6)
    
    .skills__list
      ul.skills__item
        li.skills__point-block
          p.skills__title creative
          .skills__point.skills__point-creative
            +points('4')

        li.skills__point-block
          p.skills__title teamwork
          .skills__point.skills__point-teamwork
            +points('11')

        li.skills__point-block
          p.skills__title innovate
          .skills__point.skills__point-innovate
            +points('8')

        li.skills__point-block
          p.skills__title communication
          .skills__point.skills__point-communication
            +points('18')