// ___fonts___

// NOTE: section
// NOTE: comment
@mixin font-family__section_comment
	font-family: "PTsans57F", "Arial", "sans-serif"

// NOTE: paragraph
@mixin font-family__section_paragraph
	font-family: "PTsans77F", "Arial", "sans-serif"

// NOTE: general
// NOTE: normal
@mixin font-family__normal
	font-family: "PTsans55SF", "Arial", "sans-serif"

// NOTE: bold
@mixin font-family__bold
	font-family: "PTsans75SF", "Arial", "sans-serif"


// ___borders___

@mixin border-black
	border: 1px solid black

@mixin border-green
	border: 1px solid green

@mixin border-red
	border: 1px solid red


// ___general___

@mixin wrapping
	// NOTE: disabled wrap text	
	white-space: nowrap
	
	overflow: hidden 	
	text-overflow: ellipsis

@mixin flex-enabled
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	-webkit-display: flex
	-moz-display: flex
	-ms-display: flex
	-o-display: flex
	display: flex