mixin softwareList
  section.software
    +chapter('software', 4)

    .software__list
      .software__item-left
        p.software__title_left-block  photoshop 
        progress.software__progress_left-block(value='91', max='100')

        p.software__title_left-block  illustrator 
        progress.software__progress_left-block(value='70', max='100')

        p.software__title_left-block  indesign 
        progress.software__progress_left-block(value='56', max='100')


      .software__item-right
        p.software__title_right-block  dreamweaver 
        progress.software__progress_right-block(value='82', max='100')

        p.software__title_right-block  after effects 
        progress.software__progress_right-block(value='61', max='100')
        
        p.software__title_right-block  html&css3 
        progress.software__progress_right-block(value='91', max='100')