section.software
    +chapter('software', 4)

    .software__block
        .software__block_target-position_left
            p.software__block_target-font_left  photoshop 
            progress.software__block_target-progress_left(value='91', max='100')

            p.software__block_target-font_left  illustrator 
            progress.software__block_target-progress_left(value='70', max='100')

            p.software__block_target-font_left  indesign 
            progress.software__block_target-progress_left(value='56', max='100')


        .software__block_target-position_right
            p.software__block_target-font_right  dreamweaver 
            progress.software__block_target-progress_right(value='82', max='100')

            p.software__block_target-font_right  after effects 
            progress.software__block_target-progress_right(value='61', max='100')
            
            p.software__block_target-font_right  html&css3 
            progress.software__block_target-progress_right(value='91', max='100')