section.software
    +chapter('software', 4)

    .software-text
        .software-text__left-bars
            p  photoshop 
            progress.software__progress(value='91', max='100')
            p  illustrator 
            progress.software__progress(value='70', max='100')
            p  indesign 
            progress.software__progress(value='56', max='100')

        .software-text__right-bars
            p  dreamweaver 
            progress.software__progress(value='82', max='100')
            p  after effects 
            progress.software__progress(value='61', max='100')
            p  html&css3 
            progress.software__progress(value='91', max='100')