body
	main.content
			section.content__block.content__block_position-left
				//- header include
				include ../about/about
				include ../profile/profile
				
			section.content__block.content__block_position-right
				//- main include
				include ../education/education
				include ../experience/experience
				include ../software/software

			section.content__block.content__block_position-left
				//- footer include
				include ../contact/contact
				include ../skills/skills