main
    .education
        +chapter(2)

        .education-text.text
            ul
                li
                    b.text__paragraph  Constantine Of Constantinople 
                    p.text__comment  // Feb 2011 - Jun 2014 
                    p.text__description  Constantine Of Constantinople 
                    .text__position
                        p
                            | Lorem ipsum dolors sit amet, consectetuer adipiscing
                            | elit. Aenean commodo ligula eget dolor. Aenean massa.
                            | Cum sociis natoque penatibus et magnis dis parturient
                            | montes, nascetur ridiculus mus. Donec quam felis,
                            | ultricies nec, pellentesque.

                li
                    b.text__paragraph  Master Degree 
                    p.text__comment  // Feb 2011 - Jun 2014 
                    p.text__description  University name 
                    .text__position
                        p
                            | Lorem ipsum dolors sit amet, consectetuer adipiscing
                            | elit. Aenean commodo ligula eget dolor. Aenean massa.
                            | Cum sociis natoque penatibus et magnis dis parturient
                            | montes, nascetur ridiculus mus. Donec quam felis,
                            | ultricies nec, pellentesque.

                li                    
                    b.text__paragraph  Master Degree 
                    p.text__comment  // Feb 2011 - Jun 2014 
                    p.text__description  University name 
                    .text__position
                        p
                            | Lorem ipsum dolors sit amet, consectetuer adipiscing
                            | elit. Aenean commodo ligula eget dolor. Aenean massa.
                            | Cum sociis natoque penatibus et magnis dis parturient
                            | montes, nascetur ridiculus mus. Donec quam felis,
                            | ultricies nec, pellentesque.

                li                    
                    b.text__paragraph  Master Degree 
                    p.text__comment  // Feb 2011 - Jun 2014 
                    p.text__description  University name 
                    .text__position
                        p
                            | Lorem ipsum dolors sit amet, consectetuer adipiscing
                            | elit. Aenean commodo ligula eget dolor. Aenean massa.
                            | Cum sociis natoque penatibus et magnis dis parturient
                            | montes, nascetur ridiculus mus. Donec quam felis,
                            | ultricies nec, pellentesque.

    include ../experience/experience