block section

section.education
  +chapter('education', 2)

  .education__text
    ul.education__text_target-block
      li.education__text_target-block_list
        +section('education',
                  'Constantine Of Constantinople',
                  '// Feb 2011 - Jun 2014',
                  'Constantine Of Constantinople',
                  'Lorem ipsum dolors sit amet, consectetuer adipiscing \
                  elit. Aenean commodo ligula eget dolor. Aenean massa. \
                  Cum sociis natoque penatibus et magnis dis parturient \
                  montes, nascetur ridiculus mus. Donec quam felis, \
                  ultricies nec, pellentesque.')
      li.education__text_target-block_list
        +section('education',
                  'Master Degree',
                  '// Feb 2011 - Jun 2014',
                  'University name',
                  'Lorem ipsum dolors sit amet, consectetuer adipiscing \
                  elit. Aenean commodo ligula eget dolor. Aenean massa. \
                  Cum sociis natoque penatibus et magnis dis parturient \
                  montes, nascetur ridiculus mus. Donec quam felis, \
                      ultricies nec, pellentesque.')

      li.education__text_target-block_list
        +section('education',
                  'Master Degree',
                  '// Feb 2011 - Jun 2014',
                  'University name',
                  'Lorem ipsum dolors sit amet, consectetuer adipiscing \
                  elit. Aenean commodo ligula eget dolor. Aenean massa. \
                  Cum sociis natoque penatibus et magnis dis parturient \
                  montes, nascetur ridiculus mus. Donec quam felis, \
                  ultricies nec, pellentesque.')

      li.education__text_target-block_list
        +section('education',
                  'Master Degree',
                  '// Feb 2011 - Jun 2014',
                  'University name',
                  'Lorem ipsum dolors sit amet, consectetuer adipiscing \
                  elit. Aenean commodo ligula eget dolor. Aenean massa. \
                  Cum sociis natoque penatibus et magnis dis parturient \
                  montes, nascetur ridiculus mus. Donec quam felis, \
                  ultricies nec, pellentesque.')