@import ../../templates

/**/

.education
	margin-top: 10.8rem
	float: right
	height: auto
	width: auto

	&__list 
		@include border-black
		height: auto
		width: auto
		float: left
		margin: 0 0 0 8.3rem
		letter-spacing: -.04rem
		line-height: 1.2

	&__item
		padding-left: 2rem
		padding-top: .9rem

	/* pointer */
	&__content:before
		content: ''
		display: inline-block				
		height: 32px
		width: 32px
		vertical-align: middle
		border-radius: 50%
		background-color: #000
		margin: 1.3rem 2.5rem 0 0
		float: left				

	&__content
		@include border-black
		padding-top: 1rem
		margin-bottom: .01rem
		float: left
		list-style-type: none
		height: auto //195

		&:nth-child(2)
			margin-bottom: .02rem

		&:nth-child(3)
			margin-bottom: .05rem